@media (max-width:1280px) {
    nav{
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.082);
        
    }
    .logo{
        position: absolute;
        left: 0;
        margin-left: 1.5rem;
    }
    links ul{
        position: absolute;
        flex-direction: column;
        top:50%;
        transform: translateY(-50%);
    }
    .menu{
        position: absolute;
        right: 0;
        margin-right: 2rem;
    }
    .theme{
        display: none;
    }
}
@media (max-width:660px){
    nav{
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.082);
        position: fixed;
        width: 100%;
        background-color: white;
    }
    .unorderList{
        position: absolute;
        flex-direction: column;
        top:1rem;
        right: -10rem;
        background-color: var(--4);
        padding: 1rem;
        border-radius: 0rem 0rem 0rem 1rem;
        overflow: hidden;
        transition: all ease .2s;
        /* display: none; */
        opacity: 0;
    }
    .unorderList.active{
        opacity: 1;
        top: 58px;
        right: 0;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    }
    .menu{
        position: absolute;
        right: 0;
        margin-right: 2rem;
    }
    .theme{
        display: none;
    }
    .hero{
        display: flex;
        padding-top: 58px;
        font-family: var(--1ff);
        color: red;
        font-size: 2rem;
        font-weight: 900;
    }
    .hero span{
        color: var(--2);
    }
    .heroin{
        display: none;
    }
}